/vendor/
/node_modules/
/.env
.env.*
!.env.example
/storage/*.key
/storage/framework/
/storage/logs/
/public/storage
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
.DS_Store
Thumbs.db
/composer.lock
